body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px;
}

.gameSetting {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mineImgNum {
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* 메뉴버튼 */
.button {
  display: inline-block;
}
.gameSetting {
  margin-bottom: 10px;
}
.gameSetting input {
  width: 84px;
}

/* 게임보드 */
#area {
  display: inline-block;
  background-color: #f0f0f036;
}
.cell {
  background-color: rgb(233, 229, 23);
}
td {
  width: 40px;
  height: 40px;
  font-size: 0;
}
td.empty {
  cursor: pointer;
  color: #1eb1f5;

  cursor: pointer;
}
td.mine {
  cursor: pointer;
  color: rgb(255, 136, 0);

  cursor: pointer;
  background-size: cover;
}
.clear {
  font-size: 0;
}

/*이미지*/
.flag {
  background-image: url(./flag.png);
  background-size: cover;
}
.mineImg {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.mineOpen {
  background-image: url("./mineimg.png");
  background-size: cover;
}
.mineExplo {
  background-image: url("./mineExplo.png");
  background-size: cover;
}
.cellNum {
  color: #04aa5d;
  text-align: center;
  font-size: 1.5rem;
}
